input type="text" placeholder='search term' disabled=false
button = link_to 'search'
button = link_to 'Import'
h1 New project

== render 'form'

= link_to 'Back', projects_path

div id="footer"
  ==render 'footer'
